.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;

}

.grid div {
    width: 20px;
    height: 20px; 
    
}

.shape {
    background-color: rgb(122, 39, 190);
}